/* .moviesByGenreSection {
  background-color: tomato;
  height: 100vh;
  overflow: auto;
}

.moviesByGenreSection .wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.moviesByGenreSection h2 {
  text-align: center;
  padding-top: 20px;
  font-size: 1.7rem;
  letter-spacing: 0.3rem;
}

.moviesByGenreSection .topRatedList {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 20px;
} */
