.upcomingMoviesSection {
  /* height: 100%; */
  background-color: tomato;
}

.upcomingMoviesSection .wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.upcomingMoviesSection h2 {
  text-align: center;
  padding-top: 20px;
  font-size: 1.7rem;
  letter-spacing: 0.3rem;
}

.upcomingMoviesSection .upcomingList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.upcomingMoviesSection .upcomingItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: calc(50% - 30px);
  margin-right: 15px;
}

.upcomingMoviesSection .upcomingImg {
  width: 300px;
}
