.section {
  background-color: tomato;
  height: 100vh;
  overflow: auto;
}

.section .wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.section h2 {
  text-align: center;
  padding-top: 80px;
  font-size: 1.7rem;
  letter-spacing: 0.3rem;
}

span {
  font-size: 3rem;
}

.section .list {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 20px;
}

.container {
  width: 350px;
  align-self: stretch;
  margin: 15px;
  padding: 30px;
  background-color: #4b9ec4;
  position: relative;
}

.item {
  cursor: pointer;
}

.container:hover .itemImg {
  opacity: 0.5;
}

.itemImg {
  width: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

@media (max-width: 1024px) {
  .container:hover .itemImg {
    opacity: 1;
  }
}

@media (max-width: 465px) {
  .container {
    margin: 15px 0;
    padding: 10px;
  }

  .section .list {
    padding: 40px 0;
  }
  .genreSelect {
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  .container .middleText {
    width: 100%;
    height: 350px;
  }
}
