.backBtn {
  padding: 5px 10px;
  width: fit-content;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;

  font-size: 30px;
  font-weight: bold;
  background-color: tomato;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.backBtn:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
}
